:root
{
    --background-color: #CCCCCC;
}


@media screen and (min-width: 992px) {
    
    .sideBarAndMenu
    {
        top: 0;
        bottom: 0;
        left: 0;
        width: 100%;
        position: fixed;

        .forTableScreen
        {
            display: none;
        }
        .forPcScreen
        {
            display: inline-block;
            height: 100%;
            width: 100%;

            .menuTop
            {
                position: fixed;
                left: 0;
                top: 0;
                height: 50px;
                width: 100%;
                background-color: var(--background-color);
                border-bottom: solid;

                >ul{
                    margin: 0;
                    padding: 0;
                    margin-left: 12px;
                    padding-left: 0px;
                    height: 100%;
                    width: 100%;    
                    

                    >li
                    {
                        height: 50px;
                        line-height: 50px;
                        display: inline-block;
                        width: fit-content;
                        // white-space: nowrap;
                        
                        .icon
                        {
                            background-color: var(--background-color);
                            border-style: none;
                            &:hover {
                                cursor: pointer;
                            }
                        }
                        
                        img
                        {
                            width: auto;
                            display: inline-block;
                        }
                        
                        span
                        {
                            display: inline-block;
                        }

                        margin-right: 40px;
                        
                    }
                }   
            }

            .sideBarPc
            {
                transition: width 0.5s;
                position: fixed;
                top: 50px;
                bottom: 0;
                height: 100%;
                background-color: var(--background-color);
                width: 80px;
                border-right: solid;
                
                >ul
                {
                    list-style: none;
                    margin-top: 0px;
                    padding-left: 0;
                    width: 100%;
                    text-align: left;
                    .active
                    {
                        
                        div:nth-child(1)
                        {
                            height: 30px;
                        }   
                        &:hover
                        {
                            // width: auto;
                        }
                        
                    }
                    
                    li
                    {
                        transition: width 0.5s, height 0.5s;
                        text-align: left;
                        background-color: var(--background-color);
                        left: 0;
                        padding-top: 10px;
                        
                        // border-bottom: white solid;
                        overflow: hidden;
                        overflow-wrap: normal;

                        width: 100%;
                        
                        div:nth-child(1)
                        {
                            white-space: nowrap;
                            height: 30px;
                            padding-left: 15px;
                            >span
                            {
                                font-size: 12px;
                                padding-left: 10px;
                                display: none;
                            }
                        }

                        &:hover
                        {
                            cursor: pointer;
                        }

                        .marginSubMenu
                        {
                            width: 100%;
                            height: auto;
                            background-color: blue;
                            // margin-left: 0;
                            
                            >ul
                            {
                                height: 100%;
                                margin-left:  0px;
                                padding-left: 0px;
                                text-indent: 2em;
                                font-size: 13px;
                                // padding-bottom: 5px;
                                width: auto;
                                list-style: none;
                                background-color: beige;
                                .active
                                {
                                    font-weight: bold;
                                    // font-size: 15px;
                                    background-color: rgba(123, 146, 213, 0.5);
                                }

                                li
                                {
                                    padding-top: 5px;
                                    padding-bottom: 5px;
                                    margin: 0;
                                    white-space: nowrap;
                                    text-align: left;
                                    line-height: 100%;
                                    
                                    align-content: center;
                                    &:hover
                                    {
                                        width: 100%;
                                        animation: 0;
                                        background-color: orange;
                                    }
                                    animation: 0;
                                    background-color: beige;
                                }
                            }
                        }
                    }

                }
            }

        }

    }
    




    .componentInSideBar
    {

    }    
}

@keyframes showingSpan
{
    0%
    {
        opacity: 0;
    }
    50%
    {
        opacity: 0;
    }
    100%
    {
        opacity: 1; 
    }
}

@keyframes growWidth {
    from
    {
        width: 80px;

    }
    to
    {
        width: 200px;
        
    }
}