:root
{
    --background-color: cyan;
}



@media screen and (max-width: 991px) {
    .sideBarAndMenu
    {
        .forPcScreen
        {
            display: none;
        }

        .forTableScreen
        {
            display: inline-block;
        }

    }
    
    .componentInSideBar
    {

    }

}


@media screen and (min-width: 992px) {
    
    .sideBarAndMenu
    {
        top: 0;
        bottom: 0;
        left: 0;
        width: 100%;
        // height: 100%;
        position: fixed;

        .forTableScreen
        {
            display: none;
        }
        .forPcScreen
        {
            display: inline-block;
            height: 100%;
            width: 100%;

            .menuTop
            {
                position: fixed;
                left: 0;
                top: 0;
                height: 50px;
                width: 100%;
                background-color: var(--background-color);
                border-bottom: solid;

                >ul{
                    margin-top: 10px;
                     padding-top: 0px;
                    // margin-left: 20px;
                    padding-left: 0px;
                    >li
                    {
                        width: 50px;
                        .icon
                        {
                            background-color: var(--background-color);
                            border-style: none;
                            &:hover {
                                cursor: pointer;
                            }
                        }
                        
                        margin-left: 20px;
                        display: inline-block;
                    }
                }   
            }

            .sideBarPc
            {
                transition: width 0.5s;
                position: fixed;
                left: 0;
                top: 50px;
                bottom: 0;
                height: 100%;
                background-color: var(--background-color);
                width: 80px;
                border-right: solid;
                
                >ul
                {
                    list-style: none;
                    margin-top: 0px;
                    padding-left: 0;
                    width: 100%;
                    text-align: left;

                    .active
                    {
                       
                            div:nth-child(1)
                            {
                                height: 30px;
                                >span
                                {
                                animation: showingSpan 1s forwards; 
                                }
                            }
                        
                    }
              
                    li
                    {
                        transition: width 0.5s;
                        text-align: left;
                        background-color: var(--background-color);
                        left: 0;
                        padding-top: 10px;
                        
                        // border-bottom: white solid;
                      
                        width: 100%;
                        
                        div:nth-child(1)
                        {
                            height: 30px;
                            padding-left: 25px;
                            >span
                            {
                                font-size: 12px;
                                padding-left: 20px;
                                display: none;
                            }
                        }

                        .marginSubMenu
                        {
                            width: 100%;
                            height: 100px;
                            background-color: blue;
                            // margin-left: 0;
                            
                            >ul
                            {
                                height: 100%;
                                margin-left:  10px;
                                padding-left: 0;
                                width: auto;
                                background-color: beige;
                                li
                                {
                                    &:hover
                                    {
                                        width: auto;
                                        animation: 0;
                                    }
                                    animation: 0;
                                    background-color: beige;
                                }
                            }
                        }
                        &:hover{
                           
                            cursor: pointer;
                             width: 250px;
                            // animation: growWidth 2s forwards;
                            div:nth-child(1)
                            {

                                >span{
                                    // opacity: 0;
                                    animation: showingSpan 1s forwards;
                                     display: inline-block;
                                }
                            }
                           
                        }
                    }

                }
            }

        }

    }
    




    .componentInSideBar
    {

    }    
}

@keyframes showingSpan
{
    0%
    {
        opacity: 0;
    }
    50%
    {
        opacity: 0;
    }
    100%
    {
        opacity: 1; 
    }
}

@keyframes growWidth {
    from
    {
        width: 80px;

    }
    to
    {
        width: 200px;
        
    }
}