.testons
{
    width: 0;
    height: 0;
    border-bottom: 30px solid black;
    border-top: 30px solid black;
    border-left: 30px solid black;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 130px;
}