:root
{

    --becolor: orange;
    --endcolor: blue;
}


.testWidth
{
    color: white;
}

.ui.sidebar
{
    overflow: visible!important;
    &.menu{
        .item
        {
            
            &:hover
            {
                background-color: orange;
            }
        }
    }
}

.sidebar.inline.testWidth.menu
{
    transition: width 0.5s;
}


.ui.sidebar.icon.menu
{
    .item
    {
            min-width: 0em;
            > i.icon.left
            {
                float: none;
                margin: 0em 0.35714286em 0em 0em;
            }
    }
}

.ui.vertical.inverted.menu
{
    .dropdown.link.item
    {
        transition: all 0.5s linear;
        background: linear-gradient(to right, var(--becolor) 50%, var(--endcolor) 50%);
        background-size: 200% 100%;
        background-position:right bottom;
        &:hover{
            background-position:left bottom;
       
        }

        .item.nameToDisplay
        {
            background-color: orange!important;
            margin-top: -5px;
            text-align: center;
            padding-top: 15px!important;
            font-weight: 700!important;
        }

        >.icon
        {
            float: none;
            margin: -0.30em 0.35714286em 0em 0em;
            opacity: 1;
        }
    }

    .menu
    {
        .item{
            font-size: 1em;
            opacity: 1;
            font-weight: 700;
            color: #E86D00;
            :hover{
                background-color: orange;
            }
        }
    }

    .dropdown.active.item
    {
        overflow: visible!important;
    }

    .item
    {
        >i.icon.left
        {
            float: none;
            margin: 0em 2em 0em 0em;
        }
    }
}

.ui.floating.dropdown>.menu
{
    margin-top: 0.2em;
}