$animation-length: 250;


:root
{
    --time:  0;
}

:export
{
    animationTest: $animation-length;

}

.example
{    margin: 10;

    >span{
        font:26px/1.5 Monospace;
        animation: flip 2s infinite;
        display: inline-block;
        transform-origin: 50% 50% -10px;
        transform-style: preserve-3d;
        @for $i from 1 to str-length(--time) {
            &:nth-child(#{$i}){
                animation-delay: $i/10+s;
                @if (($i % 2) == 0){
                    color: blue;
                }
                @else
                {
                    color: orange;
                }
            }
        }
    }
}

@keyframes flip
{
    to {
        transform: rotate(360deg);
    }
}