.mainBody
{
    width: 100%;
    height: 20px;
    /* margin: 50px,50px, 50px, 50px; */
    overflow: hidden;
}

.animation
{

    width: 10%;
    height: 100%;
    background-color: blueviolet;
    animation-name: my-Anim;
    animation-duration: 4s;
    animation-delay: 4s;
    animation-direction: alternate;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    -webkit-animation-name: my-Anim;
    -webkit-animation-duration: 4s;
    -webkit-animation-delay: 0s;
    -webkit-animation-direction: alternate;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
    text-align: center;
    color: white;
}

@keyframes my-Anim
{
    from
    {
        margin-left: -20%;
    }
    to
    {
        margin-left: 110%;
    }
}

@-webkit-keyframes my-Anim
{
    from
    {
        margin-left: -20%;
    }
    to
    {
        margin-left: 110%;
    }
}