.imgs
{
    margin-top: -20px;
}

.family
{
    color: black;
    padding-left: 7px;
}

i.icon.visible_maybe
{
   display: none;
}

#foo.ui.form i.icon.info_error{
display:none;
}

#foo
{
    margin-left: 20px;
    margin-right: 20px;
}